<div class='container'>
  <h1>Agrega tu auto</h1>
  <p>Completa el siguiente formulario.</p>
  <%= simple_form_for(@car) do |f| %>
    <%= f.input :model %>
    <%= f.input :brand %>
    <%= f.input :kms %>
    <%= f.input :year %>
    <%= f.input :plate %>
    <%= f.input :color %>
    <%= f.input :capacity %>
    <%= f.input :load %>
    <%= f.input :transmission %>
    <%= f.input :technical_approval %>
    <%= f.input :insurance %>
    <%= f.input :performance %>

    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
  <% end %>
</div>
