<div class= 'container mt-3'>
  <div class="card-product mb-4 justify-content-start">
    <%= cl_image_tag @car.photos.last.key, class: "card-product imagen" %>
    <div class="card-product-infos text-left ps-5">
      <p>Model: <%= @car.model %></p>
      <p>Brand: <%= @car.brand %>
      <p>Capacity: <%= @car.capacity %></p>
      <p>Color: <%= @car.color %></p>
      <p>Transmission: <%= @car.transmission %></p>
      <p>Kms: <%= @car.kms %></p>          <p>Load: <%= @car.load %></p>
    </div>
    <div class="pe-5 ms-auto">
      <%= link_to "Alquilar", new_car_booking_path(@car), class: "btn btn-gradient" %>
      <p>Daily Price: <%= @car.daily_price %></p>
    </div>
  </div>
</div>
